# HA Git Ignore

# Files
secrets.yaml
known_devices.yaml
entity_registry.yaml
.uuid

# Extensions
*.db
*.log
*.json
*.conf
*.db-shm
*.db-wal
*.storage
*.config_entries


# Folders
/deps
/custom_components
/tts
/panels
/www
/node-red
.storage/core.config_entries
.storage/core.config_entries
